@import url('./colors.scss');

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Regular.woff2') format('woff2'), url('/fonts/Inter-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Bold.woff2') format('woff2'), url('/fonts/Inter-Bold.woff') format('woff');
	font-weight: 700;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	overflow-x: hidden;
}
